<div class="row">
  
    <div class="col-md-6">
      <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
  
    <div *ngIf="successMsg !== ''" class="alert alert-success">{{successMsg}}</div>
    <div *ngIf="errorMsg !== ''" class="alert alert-danger">{{errorMsg}}</div>
  
    <div *ngFor="let customer of customers" class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm1sB4UnSaLP67wY09jsApeW9lsHACjTbeQ5veV7kMRRvtrx91mQ" alt="...">
        <div class="caption">
          <h3>{{customer.firstName}} {{customer.lastName}}</h3>
          <p>{{customer.email}}</p>
          <p>{{customer.address}} - {{customer.zipCode}}</p>
          <p>{{customer.city}}, {{customer.state}}, {{customer.country}}</p>
          <p>
            <button href="#" class="btn btn-success" role="button">View Details</button>           
            <button *ngIf="username === 'admin'" (click)="removeCustomer(customer._id)" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></button>
          </p>
        </div>
      </div>
    </div>
    
  </div>